@*@model IEnumerable<_2016_06_13_Workout_Manager_ASP.NET_MVC.Models.exercise>
@using PagedList.Mvc;*@

@model PagedList.IPagedList<_2016_06_13_Workout_Manager_ASP.NET_MVC.Models.exercise>
@using PagedList.Mvc;

 <link href = "~/Content/PagedList.css" rel = "stylesheet" type = "text/css" /> 

@{
    ViewBag.Title = "Exercises";
}

<h2>Exercises</h2>

@using (Html.BeginForm("Index", "Exercise", FormMethod.Get)) {
    <p>
        Find by name: <br />
        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search"/>
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Exercise names", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.e_name)
        </td>
    </tr>
}

</table>
<br/>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
    of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
